
#page{
    color:white;
    text-align: center;
    font-size: larger;
}
#page a{
    color: white;
    text-decoration: none;
    font-size: 150%;
    font-weight: 200;
    text-align: center;
    
    
}
a:hover{
    text-decoration: underline;
}
#f1{
    color: white;
    text-align: center;
    margin-top: 8%;
}
#b{
    color: whitesmoke;
    font-size: 100%;
    font-weight: 100;
    text-align: center;
    margin-top: 8%;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
   
}